/* .App {
  text-align: center;
} */


/* .App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} */


/* Global Styles */


/* Global Styles */

body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #f3ec78, #af4261);
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#root {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}


/* Text Component Styles */

.text {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    /* Horizontal alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Adjust height as needed */
    margin: 0;
}


/* Button Component Styles */

.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #397d3f;
}


/* DisplayWithButton Component Styles */

.display-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}